// COLORS
$violet: #674baf;
$soft-magenta:#e882e8;
$white: #fff;

// HEADINGS
$font-family-h1: 'Poppins', sans-serif;
$font-size-h1: 1.6rem;
$font-size-h1-desktop: 1.8rem;

// PARAGRAPHS
$font-family-paragraph: 'Open Sans', sans-serif;
$font-size-paragraph-desktop: 1.125rem;
$font-size-paragraph: 1.125rem;

// BORDER-RADIUS
$border-radius-register: 20px;

// BREAKPOINTS
$bk-sm: 768px;
$bk-lg: 1440px;
